*::selection {
  color: black;
  background: none;
  overflow: hidden;
  box-sizing: content-box;
}

body {
    background-image: linear-gradient(to left, #c8b3f6 0%, #7546e8 40%, #0d0e20 100%);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
    width: 25rem;
}

input, button, input:focus {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: .8rem .5rem;
  background-color: #eee;
  font-size: 1rem;
}

button {
  cursor: pointer;
  padding: .6rem;
  background-color: #00a6f4;
  font-size: .9rem;
  font-weight: 600;
  width: 7rem;
}

button:hover {
  background-color: #028ac9;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  background-color: #00a6f4;
  padding: .6rem;
  border-radius: 7px;
}

a:hover {
  background-color: #028ac9;
}

a:active {
  background-color: orange;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 10rem auto;
}